body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

li {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}